body{
    background-color: black;
    background-image: url("../img/cbq.jpg");
    background-position: center;
    background-size: 600px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
h1{
    text-align: center;
}
footer {
    position: relative;
    bottom: 0;
}
.maps{
    padding: auto;
    margin: auto;
}
.socialNetworks{
    text-align: center;
    padding: auto;
    margin: auto;
}
.space{
    margin-top: 15px;
}
.navbar{
    position: absolute;
    right: 0;
}
/*.background{
    background-image: url("../img/cbq.jpg");
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
}*/